.pageHeader{
    height: 80px;
    background-color: black;
}

.gameTitle{
    text-align: center;
    color: wheat;
}

.gameMenu{
    text-align: center;
}

.startBtn{
    width: 100%;
    padding: 15px;
    font-size: 25px;
    text-align: center;
    margin: 3px;
}


.btn-inventory{
    width: 70%;
    display: block;
    padding: 8px;
    font-size: 15px;
    margin: 3px;
    border: 1px solid rgb(52, 124, 124);
    text-align: center;
}

#inventory-list{
    display: none;
}

#inventory-list li{
    padding: 3px;
    font-size: 15px;
}


.modal-title{
    text-align: center;
    font-size: 20px;
}

#game{
    display: none;
}

#map{
    position: relative;
    border: 20px solid rgb(170, 123, 61);
}

/* Style of the hero block */
#hero{
    background-image: url("../images/hero2.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 3;
    left: 0px;
}

/* default property for a single terrain cell */
.default-cell{
    display: inline-block;
    border: 1px solid rgb(188, 226, 212);
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
}

/* color to represent a cell that is in meadow terrain */
.meadow{
    background-color: green;
    background-image: url("../images/meadow.png");
}

/* forest terrain */
.forest{
    background-color: rgb(19, 65, 19);
    background-image: url("../images/forest8.png");
}

/* river terrain */
.water{
    background-color: rgb(72, 219, 207);
    background-image: url();
}

.wall{
    background-color: saddlebrown;
    background-image: url();
}

/* bog terraain */
.bog{
    background-color: rgb(171, 132, 99);
    background-image: url("../images/bog.png");
}

.swamp{
    background-color: firebrick;
    background-image: url();
}

/* color to represent a cell that is un-viewable */
.un-viewable{
    background-color: gray;
    background-image: url("../images/question.png");
    z-index: 2;
}


/* default property for obstacles or items */
.default-item{
    display: inline-block;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
}

/* 
    item list 
    you can add every item's image here,
    make sure the class name (item name) is consistent with the name in map file,
    and the image must be in transparent background, otherwise it will cover terrain image.
*/
.Jewel{
    background-image: url("../images/diamond.png");
}

.Treasure1{
    background-image: url("../images/treasure1.png");
}

.Treasure2{
    background-image: url("../images/treasure2.png");
}

.Powerbar{
    background-image: url("../images/powerbar.png");
}

.Tree{
    background-image: url("../images/tree.png");
}

.Boulder{
    background-image: url("../images/rock.png");
}

.Blackburry{
    background-image: url();
}

.Clue{
    background-image: url();
}

